In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [2]:
dataset = input("Enter the dataset: ")
df = pd.read_csv(dataset)

Enter the dataset: USA_Housing.csv

In [3]:
df =df.drop("Address", axis=1)

In [4]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05

In [5]:
def checkNull():
    
    print("Checking for null values...\n")
    count = 0
    
    for i in df.columns:
        if(i == np.where(pd.isnull(i))):
            count += 1
    if (count>0):
        print(str(count) + "columns contain null values")
    else:
        print("No column contains null values")
    
    return

In [6]:
def splitFrame():
    
    print("Spilting the data into two features and target variable assuming last column to be the target variable...")
    
    X = df.iloc[:,: -1]
    y = df.iloc[:,-1]
    
    return (X,y)

In [7]:
def tr_ts_split(X,y):
    
    print("\nPerforming train-test split... (Default train size = 0.7)")
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)
    
    return (X_train, X_test, y_train, y_test)

In [8]:
def makePred(X,lm):
    
    vals = []
    
    for i in range(X.shape[1]):
        a = float(input("Enter value for column " + str(i) + ": "))
        vals.append(a)
        
    pred = lm.predict([vals])
    
    print("---------------------------------------------")
    print("\nPredicted value: ", pred)

In [9]:
def linarReg():
    
    checkNull()
    print("\nPerforming Linear Regression on the given dataset.")
    print("----------------------------------------------")
    
    X,y = splitFrame()
    X_train, X_test, y_train, y_test = tr_ts_split(X,y)
    
    lm = LinearRegression()
    lm.fit(X_train, y_train)
    predictions = lm.predict(X_test)
    
    print("\nTraining the model..")
    print("\nTestting the model..")
    
    print("\nTask completed.")
    print("----------------------------------------------")
    print("Displaying results:\n")
    
    accuracy = lm.score(X_test,y_test)
    print("Accuracy: ", accuracy*100,'%\n')
    
    print('MAE:', metrics.mean_absolute_error(y_test, predictions))
    print('MSE:', metrics.mean_squared_error(y_test, predictions))
    print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))
    
    
    coeff_df = pd.DataFrame(lm.coef_,X.columns,columns=['Coefficient'])
    display(coeff_df)
    
    ch = input("Make a prediciton (Y/N)?: ")
    
    if ch =="Y" or ch == "y":
        makePred(X,lm)
    
    else:
        print("Okay!")

In [10]:
linarReg()

Checking for null values...

No column contains null values

Performing Linear Regression on the given dataset.
----------------------------------------------
Spilting the data into two features and target variable assuming last column to be the target variable...

Performing train-test split... (Default train size = 0.7)

Training the model..

Testting the model..

Task completed.
----------------------------------------------
Displaying results:

Accuracy:  91.85060945363612 %

MAE: 81257.55795856066
MSE: 10169125565.897734
RMSE: 100842.08231635111

                                Coefficient
Avg. Area Income                  21.617635
Avg. Area House Age           165221.119872
Avg. Area Number of Rooms     121405.376596
Avg. Area Number of Bedrooms    1318.718783
Area Population                   15.225196

Make a prediciton (Y/N)?: y
Enter value for column 0: 59982.197226
Enter value for column 1: 5.040555
Enter value for column 2: 7.839388
Enter value for column 3: 4.23
Enter value for column 4: 26354.109472
---------------------------------------------

Predicted value:  [846675.22216046]